<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Add2Wallet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BBE7663AC3C0FBB6336B6298DC0D03FFDEBA3D8C</string>
				<key>dateExpires</key>
				<string>2/13/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BBE7663AC3C0FBB6336B6298DC0D03FFDEBA3D8C</string>
						<key>dateExpires</key>
						<string>2/13/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>H9DPH4DQG7.com.andresboedo.add2wallet.shareextension</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.icloud-container-environment</key>
						<string>Production</string>
						<key>com.apple.developer.icloud-container-identifiers</key>
						<array>
							<string>iCloud.com.andresboedo.add2wallet</string>
						</array>
						<key>com.apple.developer.icloud-services</key>
						<array>
							<string>CloudKit</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>H9DPH4DQG7</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.andresboedo.add2wallet</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>Add2WalletShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ff466cd2-50ea-4d10-ad0f-6e9cc2d69ba9</string>
						<key>dateExpires</key>
						<string>2/13/27</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.andresboedo.add2wallet.shareextension</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9DPH4DQG7</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H9DPH4DQG7.com.andresboedo.add2wallet</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:links.add2wallet.app</string>
				</array>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.andresboedo.add2wallet</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.pass-type-identifiers</key>
				<array>
					<string>H9DPH4DQG7.*</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>H9DPH4DQG7</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.andresboedo.add2wallet</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Add2Wallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>773c1198-47ea-4f9f-8dc3-6c9a1617931b</string>
				<key>dateExpires</key>
				<string>2/13/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.andresboedo.add2wallet</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H9DPH4DQG7</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
